*{
    font-family: "Comic Sans MS";
}

/*Para moviles*/
@media screen and (max-width: 750px){
    body{
        background-image: url(Fondos/Fondo\ audios\ movil.jpg);
        background-size: cover;                             /*Fondo de la pantalla*/
        position: relative;
        background-attachment: fixed;
        background-position: center center;
    }
    header h1{
        display:flex;
        position:fixed;
        left: 200px;
        bottom: 525px;                  /*Título de la página*/
        font-style: italic;
        text-decoration: underline;
        font-size: 3em;
        color: white;
    }
    a{
        position:fixed;     /*Imagen para regresar al indice*/
    }
    .audio1{
        position: fixed;        /*Primer audio*/
        top: 380px;
    }
    .audio2{
        position: fixed;        /*Segundo audio*/
        top:280px;
    }

}

/*Para Tablets*/
@media screen and (min-width:760) and (max-width:1024px){
    body{
        background-image: url(Fondos/Fondo\ audios.jpg);
        background-size: contain;                       /*Fondo de la pantalla*/
        background-attachment: fixed;
        background-position: center center;                           
    }
    header h1{
        display: flex;
        position:fixed;
        left: 100px;
        bottom: 550px;                  /*Título de la página*/
        font-style: italic;
        text-decoration: underline;
        font-size: 4em;
        color: white;
    }
    a{
        position:fixed;     /*Imagen para regresar al indice*/
    }
    .audio1{
        display:flex;
        position: fixed;        /*Primer audio*/
        top: 380px;
    }
    .audio2{
        display: flex;
        position: fixed;        /*Segundo audio*/
        top:280px;
    }

}

/*Para Portatiles o PC*/
@media screen and (min-width: 1024px) {
    body{
        background-image: url(Fondos/Fondo\ audios.jpg);
        background-size: cover;                             /*Fondo de la pantalla*/
        position: fixed;
        background-position: center center;
        background-attachment: fixed;
    }
    header h1{
        display: flex;
        position:fixed;
        left: 100px;
        bottom: 600px;                  /*Título de la página*/
        font-style: italic;
        text-decoration: underline;
        font-size: 4em;
        color: white;
    }
    a{
        position:fixed;     /*Imagen para regresar al indice*/
    }
    .audio1{
        position: fixed;        /*Primer audio*/
        top: 380px;
    }
    .audio2{
        position: fixed;        /*Segundo audio*/
        top:280px;
    }

}

/*Para Pantallas grandes*/
@media screen and (min-width:1400px){
    body{
        background-image: url(Fondos/Fondo\ audios.jpg);
        background-size: cover;                             /*Fondo de la pantalla*/
        position: fixed;
        background-position: center center;
        background-attachment: fixed;
    }
    header h1{
        display: flex;
        position:fixed;
        left: 100px;
        bottom: 725px;                  /*Título de la página*/
        font-style: italic;
        text-decoration: underline;
        font-size: 4em;
        color: white;
    }
    a{
        position:fixed;     /*Imagen para regresar al indice*/
    }
    .audio1{
        position: fixed;        /*Primer audio*/
        top: 380px;
    }
    .audio2{
        position: fixed;        /*Segundo audio*/
        top:280px;
    }

}





