
*{
    font-family: "Comic Sans MS"; /*Tipo de letra de la página*/
}

/*Para moviles*/
@media screen and (max-width: 750px){
    body{
        background-image: url(Fondos/fondo\ videos\ movil.jpg);
        background-size: cover;     /*Fondo de página*/
        background-attachment: relative;
        background-position: center center;
    } 
    
    .video1{
        display: flex;
        position: relative;
        top: 305px;             /*Trailer de bloodline*/
        left: 160px;  
    }
    .video2{
        display: flex;
        position: relative;
        left: 400px;        /*Trailer del juego*/
        top: 305px;
    }
    asside p{
        display: inline-flex;
        justify-content: flex-start;
        position: relative;
        left: 70px;
        bottom: 225px;                  /*Cita*/
        font-size: 1.1em;
        color:blue;
        font-style: italic;
    }
    a{
        display: inline-flex;
        position:fixed;     /*Imagen para regresar al indice*/
    }
}

/*Para Tablets*/
@media screen and (min-width:760px) and (max-width:1024px){
    body{
        background-image: url(Fondos/Fondo\ videos.png);
        background-size: cover;     /*Fondo de página*/
        background-attachment: fixed;
        background-position: center center;
    } 
    
    .video1{
        display: inline-flex;
        position: relative;
        top: 320px;             /*Trailer de bloodline*/
        left: 20px;  
    }
    .video2{
        display: inline-flex;
        position: relative;
        left: 260px;        /*Trailer del juego*/
        top: 320px;
    }
    asside p{
        display: inline-flex;
        justify-content: flex-start;
        position: relative;
        bottom: 225px;                  /*Cita*/
        font-size: 1.1em;
        color:blue;
        font-style: italic;
    }
    a{
        display: flex;
        position:relative;     /*Imagen para regresar al indice*/
    }
}

/*Para Portatiles o PC*/
@media screen and (min-width: 1024px) {
    body{
        background-image: url(Fondos/Fondo\ videos.png);
        background-size: cover;     /*Fondo de página*/
        background-attachment: fixed;
        background-position: center center;
    } 
    
    .video1{
        display: inline-flex;
        position: relative;
        top: 320px;             /*Trailer de bloodline*/
        left: 40px;  
    }
    .video2{
        display: inline-flex;
        position: relative;
        left: 270px;        /*Trailer del juego*/
        top: 320px;
    }
    asside p{
        display: inline-flex;
        justify-content: flex-start;
        position: relative;
        left: 70px;
        bottom: 225px;                  /*Cita*/
        font-size: 1.1em;
        color:blue;
        font-style: italic;
    }
    a{
        display: inline-flex;
        position:fixed;     /*Imagen para regresar al indice*/
    }
}

/*Para Pantallas grandes*/
@media screen and (min-width:1400px){
    body{
        background-image: url(Fondos/Fondo\ videos.png);
        background-size: cover;     /*Fondo de página*/
        background-attachment: fixed;
        background-position: center center;
    } 
    
    .video1{
        display: inline-flex;
        position: relative;
        box-sizing: border-box;
        top: 400px;             /*Trailer de bloodline*/
        left: 200px;  
    }
    .video2{
        display: inline-flex;
        position: relative;
        box-sizing: border-box;
        left: 520px;        /*Trailer del juego*/
        top: 400px;
    }
    asside p{
        display: inline-flex;
        justify-content: flex-start;
        position: relative;
        left: 70px;
        bottom: 255px;                  /*Cita*/
        font-size: 1.5em;
        color:blue;
        font-style: italic;
    }
    a{
        display: inline-flex;
        position:fixed;     /*Imagen para regresar al indice*/
    }    
}